@charset "UTF-8";
@font-face {
  font-family: "Marcellus";
  src: local("fonts/Marcellus"), url("../fonts/Marcellus.woff2") format("woff2"), url("../fonts/Marcellus.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Mulish";
  src: url("../fonts/Mulish-Black.eot");
  src: local("Mulish Black"), local("Mulish-Black"), url("../fonts/Mulish-Black.eot?#iefix") format("embedded-opentype"), url("../fonts/Mulish-Black.woff2") format("woff2"), url("../fonts/Mulish-Black.woff") format("woff"), url("../fonts/Mulish-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Mulish";
  src: url("../fonts/Mulish-Medium.eot");
  src: local("Mulish Medium"), local("Mulish-Medium"), url("../fonts/Mulish-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Mulish-Medium.woff2") format("woff2"), url("../fonts/Mulish-Medium.woff") format("woff"), url("../fonts/Mulish-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Mulish";
  src: url("../fonts/Mulish-ExtraBold.eot");
  src: local("Mulish ExtraBold"), local("Mulish-ExtraBold"), url("../fonts/Mulish-ExtraBold.eot?#iefix") format("embedded-opentype"), url("../fonts/Mulish-ExtraBold.woff2") format("woff2"), url("../fonts/Mulish-ExtraBold.woff") format("woff"), url("../fonts/Mulish-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Mulish";
  src: url("../fonts/Mulish-Bold.eot");
  src: local("Mulish Bold"), local("Mulish-Bold"), url("../fonts/Mulish-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Mulish-Bold.woff2") format("woff2"), url("../fonts/Mulish-Bold.woff") format("woff"), url("../fonts/Mulish-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Mulish";
  src: url("../fonts/Mulish-Regular.eot");
  src: local("Mulish Regular"), local("Mulish-Regular"), url("../fonts/Mulish-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Mulish-Regular.woff2") format("woff2"), url("../fonts/Mulish-Regular.woff") format("woff"), url("../fonts/Mulish-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Mulish";
  src: url("../fonts/Mulish-SemiBold.eot");
  src: local("Mulish SemiBold"), local("Mulish-SemiBold"), url("../fonts/Mulish-SemiBold.eot?#iefix") format("embedded-opentype"), url("../fonts/Mulish-SemiBold.woff2") format("woff2"), url("../fonts/Mulish-SemiBold.woff") format("woff"), url("../fonts/Mulish-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

html {
  font-size: 10px;
}

body {
  background: black;
  color: #fff;
  font-size: 16px;
  font-family: "Mulish", sans-serif;
}

button:focus {
  outline: none;
}

.container {
  max-width: 1440px;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  margin: 0 auto;
}

@media (max-width: 1452px) {
  .container {
    max-width: 980px;
  }
}

@media (max-width: 991.98px) {
  .container {
    max-width: 755px;
  }
}

@media (max-width: 767.98px) {
  .container {
    max-width: none;
    padding: 0 10px;
  }
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 144rem;
  margin: 0 auto;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  min-height: 70px;
}

@media (min-width: 991.98px) {
  .nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-left: 0;
  }
  .nav-item {
    margin: 0 2.5rem;
  }
  .nav-link {
    -webkit-transition: 0.3s ease color;
    transition: 0.3s ease color;
    color: rgba(255, 255, 255, 0.5);
  }
  .nav-link:hover {
    color: white;
  }
  .nav-link::after {
    content: "";
    opacity: 0;
    display: block;
    width: 100%;
    height: 0.2rem;
    border-radius: 5rem;
    background: rgba(50, 108, 255, 0.5);
    background: linear-gradient(316.53deg, #26fff2 13.2%, #326cff 71.54%);
    margin-top: 5px;
  }
  .nav-link.active::after {
    opacity: 1;
  }
}

.nav {
  list-style: none;
}

.nav-link {
  text-decoration: none;
  font-weight: bold;
}

.nav-link.active {
  color: white;
}

.menu__icon {
  display: none;
}

@media (max-width: 991.98px) {
  .menu__icon {
    z-index: 5;
    display: block;
    position: relative;
    width: 30px;
    height: 18px;
    cursor: pointer;
  }
}

.control {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
  padding-left: 0;
}

.control-item {
  margin-left: 7.5rem;
}

.control-btn {
  background-color: transparent;
  border: none;
  background-size: cover;
  background-repeat: no-repeat;
}

.control-btn_search {
  background-image: url(images/search.svg);
  width: 1.8rem;
  height: 1.8rem;
}

.control-btn_notice {
  background-image: url(images/notice.svg);
  width: 2.13rem;
  height: 2.35rem;
}

.control-btn_account {
  background-image: url(images/account.svg);
  width: 1.8rem;
  height: 1.92rem;
}

/*---------первая секция-----------*/
.section {
  padding-top: 5rem;
}

.section__h2 {
  font-size: 2.8rem;
  line-height: 2rem;
  position: relative;
  padding-left: 2.5rem;
  padding-right: 2rem;
  font-style: normal;
  font-weight: bold;
  display: inline-block;
}

.section__h2::before {
  content: "";
  display: block;
  width: 0.8rem;
  height: 3.5rem;
  border-radius: 5rem;
  background: rgba(50, 108, 255, 0.5);
  background: linear-gradient(316.53deg, #26fff2 13.2%, #326cff 71.54%);
  position: absolute;
  left: 0;
  top: calc(50% - 1.7rem);
}

.section__h2::after {
  content: "";
  display: block;
  width: 0.9rem;
  height: 1.5rem;
  background-image: url(images/title-arrow.svg);
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  right: 0;
  top: calc(50% - 0.7rem);
}

.section__h2-link {
  color: #fff;
  text-decoration: none;
}

@media (max-width: 767.98px) {
  .section__h2 {
    font-size: 2.1rem;
  }
}

.section__btn {
  border: none;
  border-radius: 10rem;
  padding: 1.5rem 3rem;
  font-family: "Mulish", sans-serif;
  font-weight: 800;
  line-height: 2rem;
  cursor: pointer;
  background: rgba(50, 108, 255, 0.5);
  background: linear-gradient(316.53deg, #26fff2 13.2%, #326cff 71.54%);
  color: #fff;
  -webkit-box-shadow: 0px 4px 50px rgba(50, 108, 255, 0.5);
          box-shadow: 0px 4px 50px rgba(50, 108, 255, 0.5);
  -webkit-transition: 0.2s ease box-shadow;
  transition: 0.2s ease box-shadow;
  margin-top: 5.5rem;
}

.section__btn:hover {
  -webkit-box-shadow: 0px 0px 0px rgba(50, 108, 255, 0.5);
          box-shadow: 0px 0px 0px rgba(50, 108, 255, 0.5);
}

.section-banner {
  border-bottom: 0.2rem solid #2f2e2e;
  position: relative;
  overflow: hidden;
}

.section-banner__image {
  position: absolute;
  right: 0;
  z-index: -1;
  height: 100%;
}

@media (max-width: 991.98px) {
  .section-banner__image {
    position: relative;
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    height: 50vh;
    overflow: hidden;
  }
}

.banner {
  max-width: 56.2rem;
  padding-top: 12.2rem;
  padding-bottom: 20.3rem;
  background-color: black;
  -webkit-box-shadow: 200px 0px 100px black;
          box-shadow: 200px 0px 100px black;
}

.banner__title {
  font-family: "Marcellus", serif;
  line-height: 7rem;
  font-size: 8rem;
  font-weight: normal;
}

.banner__text {
  color: #c2c2c2;
  font-size: 1.8rem;
  line-height: 2.8rem;
  font-style: normal;
  font-weight: normal;
}

.banner-info {
  font-weight: 800;
  margin-bottom: 2.9rem;
}

.banner-info__year {
  margin-right: 1.8rem;
}

.banner-info__age {
  margin-right: 1.8rem;
  position: relative;
  width: 6rem;
  text-align: center;
  display: inline-block;
}

.banner-info__age::before {
  content: "";
  display: block;
  width: 100%;
  height: 2.4rem;
  background: url(images/border.svg) no-repeat;
  background-size: cover;
  position: absolute;
  top: calc(50% - 1.2rem);
  left: 0;
  right: 0;
}

.banner-info__rating {
  position: relative;
}

.banner-info__rating::after {
  content: "";
  display: block;
  width: 1.6rem;
  height: 1.6rem;
  background-image: url(images/star.svg);
  margin-left: 1rem;
  position: absolute;
  right: -2.6rem;
  top: 0;
}

.banner-info__time {
  margin-right: 6.13rem;
}

.banner-control {
  margin-top: 3.1rem;
}

.banner-control__btn {
  background-color: transparent;
  border: none;
  border-radius: 10rem;
  padding: 1.5rem 3rem;
  font-family: "Mulish", sans-serif;
  font-weight: 800;
  line-height: 2rem;
  cursor: pointer;
}

.banner-control__btn-main {
  background: rgba(50, 108, 255, 0.5);
  background: linear-gradient(316.53deg, #26fff2 13.2%, #326cff 71.54%);
  color: #fff;
  position: relative;
  padding-left: 6rem;
  margin-right: 3rem;
  -webkit-box-shadow: 0px 4px 50px rgba(50, 108, 255, 0.5);
          box-shadow: 0px 4px 50px rgba(50, 108, 255, 0.5);
  -webkit-transition: 0.2s ease box-shadow;
  transition: 0.2s ease box-shadow;
}

.banner-control__btn-main:hover {
  -webkit-box-shadow: 0px 0px 0px rgba(50, 108, 255, 0.5);
          box-shadow: 0px 0px 0px rgba(50, 108, 255, 0.5);
}

.banner-control__btn-main::after {
  content: "";
  display: block;
  width: 1.4rem;
  height: 1.8rem;
  background-image: url(images/play.svg);
  position: absolute;
  left: 3rem;
  top: calc(50% - 0.9rem);
}

.banner-control__btn-more {
  background-color: #fff;
  color: #323232;
  -webkit-transition: 0.4s ease color;
  transition: 0.4s ease color;
}

.banner-control__btn-more:hover {
  color: #fff;
  background-color: transparent;
}

@media (max-width: 991.98px) {
  .banner {
    max-width: 56.2rem;
    padding-top: 0rem;
    padding-bottom: 0rem;
    -webkit-box-shadow: 0px 0px 0px black;
            box-shadow: 0px 0px 0px black;
  }
  .banner__title {
    font-size: 4rem;
  }
  .banner__text {
    font-size: 1.6rem;
  }
  .banner-info__year {
    margin-right: 1.8rem;
  }
  .banner-info__time {
    margin-right: 4.13rem;
  }
  .banner-control {
    margin-top: 3.1rem;
  }
  .banner-control__btn-main {
    margin-right: 3rem;
  }
  .banner-control__btn-more {
    margin-top: 2rem;
    margin-bottom: 1rem;
  }
}

.movies {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 2.1rem;
  overflow: auto;
}

.movies-item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 30%;
          flex: 0 0 30%;
  margin-right: 15px;
}

@media (min-width: 991.98px) {
  .movies {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 2.1rem;
  }
  .movies-item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 14%;
            flex: 0 0 14%;
  }
  .movies__link {
    display: block;
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 30.9rem;
    -webkit-transition: 0.4s ease all;
    transition: 0.4s ease all;
    border-radius: 2em;
  }
  .movies__link:hover {
    -webkit-filter: drop-shadow(0px 0px 20px rgba(44, 176, 249, 0.5));
            filter: drop-shadow(0px 0px 20px rgba(44, 176, 249, 0.5));
  }
  .movies__img {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    -o-object-fit: cover;
       object-fit: cover;
  }
}

.genres {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  text-align: center;
  margin-top: 2.1rem;
}

.genres-item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 23.7%;
          flex: 0 0 23.7%;
  border-radius: 2rem;
  margin-bottom: 2.7rem;
  padding: 4.8rem 1rem 3.8rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.genres-item_romance {
  background: linear-gradient(109.31deg, #fd093f 2.4%, #f383f1 100%);
}

.genres-item_drama {
  background: linear-gradient(114.5deg, #0fffda 2.22%, #3cdb77 68.84%);
}

.genres-item_historical {
  background: linear-gradient(109.31deg, #b936ff 2.4%, #57deda 100%);
}

.genres-item_action {
  background: linear-gradient(109.31deg, #fd093f 2.4%, #fb1378 2.41%, #fccb1a 100%);
}

.genres-item_sci-fi {
  background: linear-gradient(109.31deg, #ff6472 2.4%, #fda75d 100%);
}

.genres-item_horror {
  background: linear-gradient(110.16deg, #13547a 2.37%, #80d0c7 96.77%);
}

.genres-item_comedy {
  background: linear-gradient(109.93deg, #fff77b 2.37%, #ffbf42 50%);
}

.genres-item_documentary {
  background: linear-gradient(109.31deg, #1fa2ff 2.4%, #1fa2ff 2.41%, #1f535c 97.46%);
}

.genres-icon {
  height: 8rem;
  position: relative;
  overflow: hidden;
}

.genres__image {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -o-object-fit: cover;
     object-fit: cover;
}

.genres__title {
  font-size: 2.8rem;
  font-weight: 700;
  margin: 0.2rem 0 0 0;
}

@media (max-width: 991.98px) {
  .genres {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    overflow: auto;
  }
  .genres-item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 70%;
            flex: 0 0 70%;
    margin-right: 2rem;
  }
}

.actors {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
  margin-top: 2.1rem;
  overflow: auto;
}

.actors-item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 14%;
          flex: 0 0 14%;
}

@media (max-width: 991.98px) {
  .actors-item {
    margin-right: 2rem;
  }
}

.actors__link {
  display: block;
  overflow: hidden;
  position: relative;
  width: 19rem;
  height: 19rem;
  -webkit-transition: 0.4s ease all;
  transition: 0.4s ease all;
  border-radius: 100%;
}

.actors__img {
  position: absolute;
  width: 19rem;
  height: 19rem;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -o-object-fit: cover;
     object-fit: cover;
}

.marketing {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
  margin-top: 2.1rem;
  overflow: auto;
}

.marketing-item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  border-radius: 2rem;
}

.marketing-item:first-child .marketing__link {
  border-radius: 2rem 0 0 2rem;
}

.marketing-item:last-child .marketing__link {
  border-radius: 0 2rem 2rem 0;
}

@media (max-width: 991.98px) {
  .marketing-item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 90%;
            flex: 0 0 90%;
    margin-right: 10px;
  }
}

.marketing__link {
  display: block;
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 34.1rem;
}

@media (max-width: 991.98px) {
  .marketing__link {
    height: 15.8rem;
  }
}

.marketing__img {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -o-object-fit: cover;
     object-fit: cover;
}

@media (max-width: 991.98px) {
  .marketing__img {
    width: 100%;
  }
}

.offer {
  max-width: 122.4rem;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: url(images/offer.png);
  padding: 7.2rem 14.7rem 7.2rem 5.7rem;
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: 2rem;
  margin-bottom: 12.1rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 2rem;
}

@media (max-width: 767.98px) {
  .offer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.offer__title {
  font-size: 6.4rem;
  font-weight: 700;
  max-width: 80rem;
  margin: 0;
  line-height: 1;
}

@media (max-width: 991.98px) {
  .offer__title {
    font-size: 4.4rem;
    margin-left: 30px;
  }
}

.offer__btn {
  border: none;
  border-radius: 10rem;
  padding: 1.5rem 3rem;
  font-family: "Mulish", sans-serif;
  font-weight: 800;
  line-height: 2rem;
  cursor: pointer;
  background: rgba(50, 108, 255, 0.5);
  background: linear-gradient(316.53deg, #26fff2 13.2%, #326cff 71.54%);
  color: #fff;
  -webkit-box-shadow: 0px 4px 50px rgba(50, 108, 255, 0.5);
          box-shadow: 0px 4px 50px rgba(50, 108, 255, 0.5);
  -webkit-transition: 0.2s ease box-shadow;
  transition: 0.2s ease box-shadow;
  margin-top: 5.5rem;
}

.offer__btn:hover {
  -webkit-box-shadow: 0px 0px 0px rgba(50, 108, 255, 0.5);
          box-shadow: 0px 0px 0px rgba(50, 108, 255, 0.5);
}

footer {
  background-color: #101012;
  padding: 7rem 0 5rem;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 144rem;
  margin: 0 auto;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

@media (max-width: 767.98px) {
  .footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    padding: 0;
  }
}

@media (max-width: 991.98px) {
  .footer-item {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 1rem;
  }
}

.footer-list {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

.footer-list__item {
  margin-bottom: 2rem;
}

.footer-list__link {
  font-size: 1.8rem;
  color: #c2c2c2;
  font-weight: 600;
  text-decoration: none;
}

@media (max-width: 767.98px) {
  .footer-list {
    margin-top: 3rem;
  }
}
