@font-face {
	font-family: "Marcellus";
	src: local("fonts/Marcellus"), url("../fonts/Marcellus.woff2") format("woff2"),
		url("../fonts/Marcellus.woff") format("woff");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "Mulish";
	src: url("../fonts/Mulish-Black.eot");
	src: local("Mulish Black"), local("Mulish-Black"),
		url("../fonts/Mulish-Black.eot?#iefix") format("embedded-opentype"),
		url("../fonts/Mulish-Black.woff2") format("woff2"), url("../fonts/Mulish-Black.woff") format("woff"),
		url("../fonts/Mulish-Black.ttf") format("truetype");
	font-weight: 900;
	font-style: normal;
}

@font-face {
	font-family: "Mulish";
	src: url("../fonts/Mulish-Medium.eot");
	src: local("Mulish Medium"), local("Mulish-Medium"),
		url("../fonts/Mulish-Medium.eot?#iefix") format("embedded-opentype"),
		url("../fonts/Mulish-Medium.woff2") format("woff2"), url("../fonts/Mulish-Medium.woff") format("woff"),
		url("../fonts/Mulish-Medium.ttf") format("truetype");
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: "Mulish";
	src: url("../fonts/Mulish-ExtraBold.eot");
	src: local("Mulish ExtraBold"), local("Mulish-ExtraBold"),
		url("../fonts/Mulish-ExtraBold.eot?#iefix") format("embedded-opentype"),
		url("../fonts/Mulish-ExtraBold.woff2") format("woff2"), url("../fonts/Mulish-ExtraBold.woff") format("woff"),
		url("../fonts/Mulish-ExtraBold.ttf") format("truetype");
	font-weight: 800;
	font-style: normal;
}

@font-face {
	font-family: "Mulish";
	src: url("../fonts/Mulish-Bold.eot");
	src: local("Mulish Bold"), local("Mulish-Bold"), url("../fonts/Mulish-Bold.eot?#iefix") format("embedded-opentype"),
		url("../fonts/Mulish-Bold.woff2") format("woff2"), url("../fonts/Mulish-Bold.woff") format("woff"),
		url("../fonts/Mulish-Bold.ttf") format("truetype");
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: "Mulish";
	src: url("../fonts/Mulish-Regular.eot");
	src: local("Mulish Regular"), local("Mulish-Regular"),
		url("../fonts/Mulish-Regular.eot?#iefix") format("embedded-opentype"),
		url("../fonts/Mulish-Regular.woff2") format("woff2"), url("../fonts/Mulish-Regular.woff") format("woff"),
		url("../fonts/Mulish-Regular.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "Mulish";
	src: url("../fonts/Mulish-SemiBold.eot");
	src: local("Mulish SemiBold"), local("Mulish-SemiBold"),
		url("../fonts/Mulish-SemiBold.eot?#iefix") format("embedded-opentype"),
		url("../fonts/Mulish-SemiBold.woff2") format("woff2"), url("../fonts/Mulish-SemiBold.woff") format("woff"),
		url("../fonts/Mulish-SemiBold.ttf") format("truetype");
	font-weight: 600;
	font-style: normal;
}

$white: #fff;
$bg-gradient: linear-gradient(316.53deg, #26fff2 13.2%, #326cff 71.54%);
$bg-gradient-safe: rgba(50, 108, 255, 0.5);
$black: rgb(0, 0, 0);
$maxWidthContainer: 144;
$md1: $maxWidthContainer + 1.2;
$md2: 99.19;
$md3: 76.98;
$md4: 47.98;

html {
	font-size: 10px;
}
body {
	background: rgb(0, 0, 0);
	color: #fff;
	font-size: 16px;
	font-family: "Mulish", sans-serif;
}

button {
	&:focus {
		outline: none;
	}
}

.container {
	max-width: $maxWidthContainer + rem;
	padding-left: 1.5rem;
	padding-right: 1.5rem;
	margin: 0 auto;
	/*@media (max-width: $md1+rem) {
		max-width: 98rem;
	}*/
	@media (max-width: $md2+rem) {
		max-width: 98rem;
	}
	@media (max-width: $md3+rem) {
		max-width: none;
		padding: 0 1rem;
	}
}

.header {
	display: flex;
	justify-content: space-between;
	max-width: 144rem;
	margin: 0 auto;
	padding-left: 1.5rem;
	padding-right: 1.5rem;
	align-items: center;
	padding-top: 1.5rem;
	padding-bottom: 1.5rem;
	min-height: 70px;
}
@media (min-width: $md2+rem) {
	.nav {
		display: flex;
		align-items: center;
		padding-left: 0;

		&-item {
			margin: 0 2.5rem;
		}

		&-link {
			transition: 0.3s ease color;
			color: rgba($white, 0.5);
			&:hover {
				color: rgba($white, 1);
			}

			&::after {
				content: "";
				opacity: 0;
				display: block;
				width: 100%;
				height: 0.2rem;
				border-radius: 5rem;
				background: $bg-gradient-safe;
				background: $bg-gradient;
				margin-top: 5px;
			}
			&.active {
				&::after {
					opacity: 1;
				}
			}
		}
	}
}

.nav {
	list-style: none;

	&-link {
		text-decoration: none;
		font-weight: bold;

		&.active {
			color: rgba($white, 1);
		}
	}
}

.menu {
	&__icon {
		display: none;
	}
}

@media (max-width: $md2 + rem) {
	.menu {
		&__icon {
			z-index: 5;
			display: block;
			position: relative;
			width: 30px;
			height: 18px;
			cursor: pointer;
		}
	}
}

.control {
	display: flex;
	align-items: center;
	list-style: none;
	padding-left: 0;

	&-item {
		margin-left: 7.5rem;
	}
	&-btn {
		background-color: transparent;
		border: none;
		background-size: cover;
		background-repeat: no-repeat;
		&_search {
			background-image: url(images/search.svg);
			width: 1.8rem;
			height: 1.8rem;
		}
		&_notice {
			background-image: url(images/notice.svg);
			width: 2.13rem;
			height: 2.35rem;
		}
		&_account {
			background-image: url(images/account.svg);
			width: 1.8rem;
			height: 1.92rem;
		}
	}
}

/*---------первая секция-----------*/

.section {
	padding-top: 5rem;
	&__h2 {
		font-size: 2.8rem;
		line-height: 2rem;
		position: relative;
		padding-left: 2.5rem;
		padding-right: 2rem;
		font-style: normal;
		font-weight: bold;
		display: inline-block;
		&::before {
			content: "";
			display: block;
			width: 0.8rem;
			height: 3.5rem;
			border-radius: 5rem;
			background: $bg-gradient-safe;
			background: $bg-gradient;
			position: absolute;
			left: 0;
			top: calc(50% - 1.7rem);
		}
		&::after {
			content: "";
			display: block;
			width: 0.9rem;
			height: 1.5rem;
			background-image: url(images/title-arrow.svg);
			background-repeat: no-repeat;
			background-size: cover;
			position: absolute;
			right: 0;
			top: calc(50% - 0.7rem);
		}

		&-link {
			color: $white;
			text-decoration: none;
		}

		@media (max-width: $md3+rem) {
			font-size: 3.8rem;
		}
	}

	&__btn {
		border: none;
		border-radius: 10rem;
		padding: 1.5rem 3rem;
		font-family: "Mulish", sans-serif;
		font-weight: 800;
		line-height: 2rem;
		cursor: pointer;
		background: $bg-gradient-safe;
		background: $bg-gradient;
		color: $white;
		box-shadow: 0px 4px 50px $bg-gradient-safe;
		transition: 0.2s ease box-shadow;
		margin-top: 5.5rem;
		&:hover {
			box-shadow: 0px 0px 00px $bg-gradient-safe;
		}
		@media (max-width: $md3+rem) {
			font-size: 2.8rem;
		}
	}
}

.section-banner {
	border-bottom: 0.2rem solid #2f2e2e;
	position: relative;
	overflow: hidden;
	&__image {
		position: absolute;
		right: 0;
		z-index: -1;
		height: 100%;

		@media (max-width: $md3+rem) {
			position: relative;
			width: 100%;
			object-fit: cover;
			height: 70vh;
			overflow: hidden;
		}
	}
}

.banner {
	max-width: 56.2rem;
	padding-top: 12.2rem;
	padding-bottom: 20.3rem;
	background-color: $black;
	box-shadow: 200px 0px 100px $black;
	&__title {
		font-family: "Marcellus", serif;
		line-height: 7rem;
		font-size: 8rem;
		font-weight: normal;
	}

	&__text {
		color: #c2c2c2;
		font-size: 1.8rem;
		line-height: 1.8;
		font-style: normal;
		font-weight: normal;
	}

	&-info {
		font-weight: 800;
		margin-bottom: 2.9rem;

		&__year {
			margin-right: 1.8rem;
		}

		&__age {
			margin-right: 1.8rem;
			position: relative;
			width: 6rem;
			text-align: center;
			display: inline-block;
			&::before {
				content: "";
				display: block;
				width: 100%;
				height: 2.4rem;
				background: url(images/border.svg) no-repeat;
				background-size: cover;
				position: absolute;
				top: calc(50% - 1.2rem);
				left: 0;
				right: 0;
			}
		}

		&__rating {
			position: relative;
			&::after {
				content: "";
				display: block;
				width: 1.6rem;
				height: 1.6rem;
				background-image: url(images/star.svg);
				margin-left: 1rem;
				position: absolute;
				right: -2.6rem;
				top: 0;
			}
		}

		&__time {
			margin-right: 6.13rem;
		}
	}

	&-control {
		margin-top: 3.1rem;
		&__btn {
			background-color: transparent;
			border: none;
			border-radius: 10rem;
			padding: 1.5rem 3rem;
			font-family: "Mulish", sans-serif;
			font-weight: 800;
			line-height: 2rem;
			cursor: pointer;
		}

		&__btn-main {
			background: $bg-gradient-safe;
			background: $bg-gradient;
			color: $white;
			position: relative;
			padding-left: 6rem;
			margin-right: 3rem;
			box-shadow: 0px 4px 50px $bg-gradient-safe;
			transition: 0.2s ease box-shadow;
			&:hover {
				box-shadow: 0px 0px 00px $bg-gradient-safe;
			}
			&::after {
				content: "";
				display: block;
				width: 1.4rem;
				height: 1.8rem;
				background-image: url(images/play.svg);
				position: absolute;
				left: 3rem;
				top: calc(50% - 0.9rem);
			}
		}

		&__btn-more {
			background-color: $white;
			color: #323232;
			transition: 0.4s ease color;
			&:hover {
				color: $white;
				background-color: transparent;
			}
		}
	}
}

@media (max-width: $md3+rem) {
	.banner {
		max-width: 100%;
		padding: 0;
		box-shadow: 0px 0px 0px $black;

		&__text {
			font-size: 2.4rem;
		}

		&-info {
			font-size: 4rem;
			&__year {
				margin-right: 1.8rem;
			}
			&__time {
				margin-right: 4.13rem;
				margin-left: 4.13rem;
			}

			&__age {
				margin-left: 2.5rem;
				padding: 2rem;
				&::before {
					width: 100%;
					height: 4rem;
					top: calc(50% - 2.1rem);
				}
			}
		}

		&-control {
			margin-top: 3.1rem;
			&__btn {
				font-size: 3rem;
				padding-top: 2rem;
				padding-bottom: 2rem;
			}

			&__btn-main {
				margin-right: 3rem;
			}

			&__btn-more {
				margin-top: 2rem;
				margin-bottom: 1rem;
			}
		}
	}
}

.movies {
	display: flex;
	margin-top: 2.1rem;
	overflow: auto;
	&-item {
		flex: 0 0 30%;
		margin-right: 1.5rem;
	}
}
@media (min-width: $md3+rem) {
	.movies {
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin-top: 2.1rem;
		&-item {
			flex: 0 0 14%;
		}

		&__link {
			display: block;
			overflow: hidden;
			position: relative;
			width: 100%;
			height: 30.9rem;
			transition: 0.4s ease all;
			border-radius: 2rem;
			&:hover {
				filter: drop-shadow(0px 0px 20px rgba(44, 176, 249, 0.5));
			}
		}

		&__img {
			position: absolute;
			left: 50%;
			top: 50%;
			transform: translate(-50%, -50%);
			object-fit: cover;
		}
	}
}

.genres {
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
	text-align: center;
	margin-top: 2.1rem;
	&-item {
		flex: 0 0 23.7%;
		border-radius: 2rem;
		margin-bottom: 2.7rem;
		padding: 4.8rem 1rem 3.8rem;
		box-sizing: border-box;
		&_romance {
			background: linear-gradient(109.31deg, #fd093f 2.4%, #f383f1 100%);
		}
		&_drama {
			background: linear-gradient(114.5deg, #0fffda 2.22%, #3cdb77 68.84%);
		}
		&_historical {
			background: linear-gradient(109.31deg, #b936ff 2.4%, #57deda 100%);
		}
		&_action {
			background: linear-gradient(109.31deg, #fd093f 2.4%, #fb1378 2.41%, #fccb1a 100%);
		}

		&_sci-fi {
			background: linear-gradient(109.31deg, #ff6472 2.4%, #fda75d 100%);
		}

		&_horror {
			background: linear-gradient(110.16deg, #13547a 2.37%, #80d0c7 96.77%);
		}

		&_comedy {
			background: linear-gradient(109.93deg, #fff77b 2.37%, #ffbf42 50%);
		}
		&_documentary {
			background: linear-gradient(109.31deg, #1fa2ff 2.4%, #1fa2ff 2.41%, #1f535c 97.46%);
		}
	}

	&-icon {
		height: 8rem;
		position: relative;
		overflow: hidden;
	}

	&__image {
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
		object-fit: cover;
	}
	&__title {
		font-size: 2.8rem;
		font-weight: 700;
		margin: 0.2rem 0 0 0;
	}
}

@media (max-width: $md3+rem) {
	.genres {
		flex-wrap: nowrap;
		overflow: auto;
		&-item {
			flex: 0 0 70%;
			margin-right: 2rem;
		}
	}
}

.actors {
	display: flex;
	align-items: center;
	justify-content: space-between;
	text-align: center;
	margin-top: 2.1rem;
	overflow: auto;
	&-item {
		flex: 0 0 14%;
		@media (max-width: $md3+rem) {
			margin-right: 2rem;
		}
	}

	&__link {
		display: block;
		overflow: hidden;
		position: relative;
		width: 19rem;
		height: 19rem;
		transition: 0.4s ease all;
		border-radius: 100%;
	}

	&__img {
		position: absolute;
		width: 19rem;
		height: 19rem;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
		object-fit: cover;
	}
}

.marketing {
	display: flex;
	align-items: center;
	justify-content: space-between;
	text-align: center;
	margin-top: 2.1rem;
	overflow: auto;
	&-item {
		flex: 0 0 50%;
		border-radius: 2rem;
		&:first-child {
			.marketing__link {
				border-radius: 2rem 0 0 2rem;
			}
		}
		&:last-child {
			.marketing__link {
				border-radius: 0 2rem 2rem 0;
			}
		}

		@media (max-width: $md3+rem) {
			flex: 0 0 90%;
			margin-right: 10px;
		}
	}

	&__link {
		display: block;
		overflow: hidden;
		position: relative;
		width: 100%;
		height: 34.1rem;
	}

	&__img {
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
		object-fit: cover;

		@media (max-width: $md3+rem) {
			width: 100%;
		}
	}
}

.offer {
	max-width: 122.4rem;
	margin: 0 auto;
	display: flex;
	align-items: center;
	justify-content: space-between;
	background: url(images/offer.png);
	padding: 7.2rem 14.7rem 7.2rem 5.7rem;
	background-size: cover;
	background-repeat: no-repeat;
	margin-top: 2rem;
	margin-bottom: 12.1rem;
	box-sizing: border-box;
	border-radius: 2rem;
	@media (max-width: $md3+rem) {
		flex-direction: column;
	}

	&__title {
		font-size: 6.4rem;
		font-weight: 700;
		max-width: 80rem;
		margin: 0;
		line-height: 1;
		@media (max-width: $md3+rem) {
			font-size: 4.4rem;
			margin-left: 30px;
		}
	}

	&__btn {
		border: none;
		border-radius: 10rem;
		padding: 1.5rem 3rem;
		font-family: "Mulish", sans-serif;
		font-weight: 800;
		line-height: 2rem;
		cursor: pointer;
		background: $bg-gradient-safe;
		background: $bg-gradient;
		color: $white;
		box-shadow: 0px 4px 50px $bg-gradient-safe;
		transition: 0.2s ease box-shadow;
		margin-top: 5.5rem;
		&:hover {
			box-shadow: 0px 0px 00px $bg-gradient-safe;
		}

		@media (max-width: $md3+rem) {
			font-size: 2.8rem;
		}
	}
}

footer {
	background-color: #101012;
	padding: 7rem 0 5rem;
}

.footer {
	display: flex;
	justify-content: space-between;
	max-width: 144rem;
	margin: 0 auto;
	padding-left: 1.5rem;
	padding-right: 1.5rem;
	padding-top: 1.5rem;
	padding-bottom: 1.5rem;
	@media (max-width: $md3+rem) {
		flex-direction: column;
		justify-content: center;
		align-items: center;
		text-align: center;
		padding: 0;
	}

	&-item {
		@media (max-width: $md3+rem) {
			align-items: center;
			padding: 1rem;
		}
	}

	&-list {
		list-style: none;
		padding-left: 0;
		margin: 0;
		&__item {
			margin-bottom: 2rem;
		}
		&__link {
			font-size: 1.8rem;
			color: #c2c2c2;
			font-weight: 600;
			text-decoration: none;
		}
		@media (max-width: $md3+rem) {
			margin-top: 3rem;
		}
	}
}
